* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: #fff;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #73139f;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #ece11f;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNyZf9Idqj5VM8B6LlwdtXBk6w3g6TaF7c-Q&s')  center center/cover;
    color: #73139f;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.landing-page h1 {
    font-size: 3rem;
}

.about, .portfolio, .contact {
    padding: 2rem 1rem;
    text-align: center;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item h3 {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 0;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 80%;
    max-width: 500px;
}

.contact button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background-color: #575757;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
